/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
astro_ex-*.tar
/tmp
/priv/static/
/installer/_build
/installer/tmp
/installer/doc
/installer/deps
/config/*.secret.exs
log*/
.iex.exs
